*{
	margin:0;
	padding:0;
}

#wrapper{
	height:700px;
	width:100%;
	text-align: center;
	background: url(../images/BG_Top_Blue.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: ;
}

#leftSide{
	position:relative;
	height:300px;
	width:150px;
	float:left;
}

#rightSide{
	position:relative;
	height:300px;
	width:150px;
	float:right;
}

#posts{
	position: relative;
	margin-left: 0px;
	width:400px;
	display: inline-block;
}

.submissionBlocks{
	background-color: #aec7e8;
	width: 300px;
	border-radius: 5px;
	margin:10px;
	stroke:#000000;
	stroke-width:2px;

}

.submissionPar{

}
