*{
	margin:0;
	padding:0;
}

h1 {
	font-size: 250%;
}

p {
	font-size: 100%;
}

@font-face {
	font-family: 'GrecoBold';
	src: url('../media/ufonts.com_greco-bold.woff') format('woff');
}

#wrapper {
	background: transparent;
	height: 830px;
	min-height: 830px;
	width: 6500px;
}

#top-panel {
	z-index: 1;
	position: relative;
	height: 640px;
	width: 6500px;
	font-family: 'GrecoBold';
}

.gradient {
	background: -webkit-linear-gradient(orange, gray); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(orange, gray); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(orange, gray); /* For Firefox 3.6 to 15 */
 	background: linear-gradient(orange, gray); /* Standard syntax */
}

#bottom-panel {
	z-index: 102;
	position: relative;
	background-color: gray;
	height: 299px;
	width: 6500px;
	border-top: rgba(153,153,153,0.8) solid 2px;
}

#soma-logo {
	z-index: 2;
	position: absolute;
	background: transparent url(../images/somaWithoutKids.png) no-repeat;
	left: 80px;
	bottom: 400px;
	height: 180px;
	width: 600px;
}

#soma-logo-kids {
	z-index: 2;
	position: absolute;
	background: transparent url(../images/kids.png) no-repeat;
	left: 170px;
	bottom: 400px;
	height: 180px;
	width: 188px;
}

#text-box-intro {
	z-index: 2;
	position: absolute;
	background: transparent;
	left: 100px;
	bottom: 180px;
	height: 200px;
	width: 560px;
	text-align: justify;
}

#story-box1 {
	z-index: 50;
	position: absolute;
	background: transparent;
	left: 700px;
	top: 50px;
	height: 400px;
	width: 800px;
}

#story-box2 {
	z-index: 50;
	position: absolute;
	background: transparent;
	left: 700px;
	top: 470px;
	height: 150px;
	width: 800px;
}

#story-box3 {
	z-index: 50;
	position: absolute;
	background: transparent;
	left: 1520px;
	top: 50px;
	height: 570px;
	width: 60px;
}

#story-box4 {
	z-index: 50;
	position: absolute;
	background: transparent;
	left: 1600px;
	top: 50px;
	height: 200px;
	width: 600px;
}

#story-box5 {
	z-index: 50;
	position: absolute;
	background: transparent;
	left: 1600px;
	top: 270px;
	height: 350px;
	width: 600px;
}

#app-box1 {
	z-index: 50;
	position: absolute;
	background: transparent;
	outline: black inset medium;
	left: 2220px;
	top: 50px;
	height: 574px;
	width: 1020px;
}

#app-box2 {
	z-index: 50;
	position: absolute;
	background: transparent;
	outline: black groove thin;
	/*background-color: blue;*/
	left: 3260px;
	top: 50px;
	height: 574px;
	width: 100px;
}

#research-box1 {
	z-index: 50;
	position: absolute;
	background: transparent;
	left: 3380px;
	top: 50px;
	height: 550px;
	width: 400px;
}

#research-box2 {
	z-index: 50;
	position: absolute;
	background: transparent;
	left: 3800px;
	top: 50px;
	height: 150px;
	width: 150px;
}

#research-box3 {
	z-index: 50;
	position: absolute;
	background: transparent;
	left: 3970px;
	top: 50px;
	height: 150px;
	width: 280px;
}

#research-box4 {
	z-index: 50;
	position: absolute;
	background: transparent;
	left: 3800px;
	top: 220px;
	height: 250px;
	width: 450px;
}

#research-box5 {
	z-index: 50;
	position: absolute;
	background: transparent;
	left: 4270px;
	top: 50px;
	height: 350px;
	width: 400px;
}

#research-box6 {
	z-index: 50;
	position: absolute;
	background: transparent;
	left: 4270px;
	top: 400px;
	height: 150px;
	width: 400px;
}

#forum-box1 {
	z-index: 50;
	position: absolute;
	background: transparent;
	left: 4690px;
	top: 50px;
	height: 550px;
	width: 800px;
}

#billboard {
	z-index: 48;
	position: absolute;
	background: transparent url(../images/billboard.png) no-repeat;
	left: 100px;
	bottom: 0px;
	height: 283px;
	width: 375px;
}

#playground-car {
	z-index: 60;
	position: absolute;
	background: transparent url(../images/playground_car.png) no-repeat;
	left: 720px;
	bottom: 0px;
	height: 86px;
	width: 108px;
}

#playground-seesaw {
	z-index: 60;
	position: absolute;
	background: transparent url(../images/SeeSaw_1.png) no-repeat;
	left: 1220px;
	bottom: 0px;
	height: 66px;
	width: 185px;
}

#playground-slide1 {
	z-index: 60;
	position: absolute;
	background: transparent url(../images/Slide1.png) no-repeat;
	left: 1420px;
	bottom: 0px;
	height: 137px;
	width: 129px;
}

#playground-horse {
	z-index: 60;
	position: absolute;
	background: transparent url(../images/Horse.png) no-repeat;
	left: 920px;
	bottom: 0px;
	height: 83px;
	width: 87px;
}

#sun-front {
	z-index: 42;
	position: absolute;
	background: transparent url(../images/sun_front.png) no-repeat;
	left: 1250px;
	top: 65px;
	height: 129px;
	width: 124px;
}

#sun-middle {
	z-index: 41;
	position: absolute;
	background: transparent url(../images/sun_middle.png) no-repeat;
	left: 1250px;
	top: 65px;
	height: 129px;
	width: 124px;
}

#sun-back {
	z-index: 40;
	position: absolute;
	/*background: transparent url(../images/sun_back.png) no-repeat;*/
	left: 1250px;
	top: 65px;
	height: 129px;
	width: 124px;
}

#garden-fence1 {
	z-index: 60;
	position: absolute;
	background: transparent url(../images/Mini_Fence.png) no-repeat;
	left: 2100px;
	bottom: 0px;
	height: 66px;
	width: 91px;
}

#garden-fence2 {
	z-index: 60;
	position: absolute;
	background: transparent url(../images/Mini_Fence.png) no-repeat;
	left: 3312px;
	bottom: 0px;
	height: 66px;
	width: 91px;
}

#garden-flowers1 {
	z-index: 90px;
	position: absolute;
	background: transparent url(../images/Flowers_Combined.png);
	left: 2200px;
	bottom: 0px;
	height: 46px;
	width: 1106px;
}

#bike_mask {
	z-index: 99;
	position: fixed;
	left: auto;
	top: 576px;
}

#bicycle {
	position: absolute;
	background: transparent url(../images/bicycle.png) no-repeat;
	left: 0px;
	height: 64px;
	width: 100px;
}

#bike-bubble-wrapper{opacity:0;}

#bike-bubble-text-wrapper {z-index:2;}

#bike-bubble-text {
    position:absolute;
    left:100px;
    bottom:45px;
    background:transparent;
    width:150px;
    height:49px;
    padding:12px 10px 0px 10px;   
    font-family:aurea-ultra;
    font-style:normal;
    font-weight:400;
    font-size:14px;
    line-height:18px;
    color:#D55B25;
    text-shadow:none;
    text-align:center;
}

#bike-keyboard {
    position:absolute;
    left:99px;
    bottom:40px;
    background:transparent url(../images/keyboard.png);
    width:170px;
    height:67px;
}

#bike-keyboard-left {
    position:absolute;
    left:0px;
    bottom:0px;
    background:transparent url(../images/keyboardLeft.png);
    width:170px;
    height:67px;
}

#bike-keyboard-right {
    position:absolute;
    left:0px;
    bottom:0px;
    background:transparent url(../images/keyboardRight.png);
    width:170px;
    height:67px;
}

#bike-bubble-content-wrapper {
    z-index:1;
    -webkit-opacity:0.8;
	-khtml-opacity:0.8;
	-moz-opacity:0.8;
	-o-opacity:0.8;
	opacity:0.8;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter:alpha(opacity=80);
}

.bike-bubble {
    position:absolute;
    left:100px;
    bottom:45px;
    background:#dbc9d7;
    width:170px;
    height:61px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;	
}

.arrow-down {
    position:absolute;
    left:97px;
    bottom:39px;
    width:0;
    height:0;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    border-top:12px solid #dbc9d7;
    -moz-transform:rotate(40deg);
    -webkit-transform:rotate(40deg);
    -ms-transform:rotate(40deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0.4);
}

#posts{
	margin-top: 70px;
	margin-left:400px;
	width: 310px;
	height: 280px;
	overflow-y:scroll;
}

#submissions{
	margin-top: 90px;
	margin-left:400px;

}
.graphs{
	margin-left:40px;
}
#submissionBlocks{
	float:left;
}